{{#extends 'base'}}

{{#block 'content'}}
<h1>All Food Records</h1>
<a href="/food_record/add" class="btn btn-primary">Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Tags</th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        {{#each records}}
        <tr>
            <td>
                <a href="/food_record/{{this._id}}">
                {{this.foodRecordName}}
                </a>
            </td>
            <td>{{this.calories}}</td>
            <td>{{this.tags}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/food_record/{{this._id}}/notes/add">Add Note</a>
                <a class="btn btn-primary btn-sm" href="/food_record/{{this._id}}/edit">Edit</a>
                <a class="btn btn-danger btn-sm" href="/food_record/{{this._id}}/delete">Delete</a>
            </td>

        </tr>
        {{/each}}

    </tbody>

</table>

{{/block}}

{{/extends}}